button, 
button:active, 
button:focus {
    outline: none;
}

body {
    margin: 0;
    font-family: 'Lato Regular', sans-serif;
    background-color: #fefefe;
}
/*хеддер*/
.header {
    height: 89px;
    width: 100%;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}

.header_content {
    margin: 0 auto;
    padding-top: 24px;
    width: 1020px;
    display: flex;
    justify-content: space-between;
}

.logo h1 {
    font-size: 25px;
    line-height: 6px;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 38px;
}

.logo-star {
    color: #f06c64;
}

.navigation {
    display: flex;
    width: 410px;
    font-size: 12px;
    line-height: 6px;
    font-weight: 500;
    color: #ffffff;
    list-style: none;
    text-transform: uppercase;
}

.navigation-elem{
    margin-top: 11px;
    margin-right: 29px;
    cursor: pointer;
    position: relative;
}

.navigation-link{
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

.navigation-elem a:hover{
    color: #f06c64;
}

.navigation-elem::after {
    content: "";
    background-color: #434759;
    width: 2px;
    height: 2px;
    position: absolute;
    margin-right: 1px;
    top: 49%;
    right: -16px;
}

.navigation-elem:hover {
    color: #f06c64;
}


.navigation-elem:last-child::after { 
   display: none;
}
/*слайдер*/
.slider{
    height: 594px;
    width: 100%;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}

.slider_content {
    width: 1020px;
    margin: 0 auto;
    position: relative;
}

.vertical-mobile {
    position: absolute;
    left: 112px;
    top: 53px;
}
.horizont-mobile {
    position: absolute;
    right: 111px;
    top: 174px;
}

.slider__buttons {
    width: 100%;
    position: absolute;
    top: 281px;
    display: flex;
    justify-content: space-between;
}

.switch-button {
    background-repeat: no-repeat;
    width: 16px;
    height: 27px;
    cursor: pointer;
    border: 0;
    background-color: #f06c64;
    margin: 0 3px;
}

.prev-slide {
    margin-left: 42px;
    background-image: url(./assets/image/singolo1/prev_slide.png);
}

.prev-slide:hover {
    background-image: url(./assets/image/singolo1/prev_slide1.png);
}

.next-slide {
    margin-right: 40px;
    background-image: url(./assets/image/singolo1/next_slide.png);
}

.next-slide:hover {
    background-image: url(./assets/image/singolo1/next_slide1.png);
}

.services {
    height: 494px;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.services_content {
    width: 1020px;
    margin: 0 auto;
    padding: 34px 0;
}


.services__description h2 {
    font-family: 'Lato Black', sans-serif;
    font-size: 30px;
    font-weight: 400;
    word-spacing: -1.5px;
    margin-left: 41px;
    color: #666d89;
}
.services__description p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
    letter-spacing: -0.3px;
    word-spacing: 1.0px;
    margin-left: 40px;
    margin-top: -7px;
}

.services__sections {
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__elem {
    display: flex;
    flex-basis: 32%;
    margin-top: -11px;
}

.services__elem:nth-child(1) img{
    margin-top: 3px;
}

.services__elem:nth-child(2) img{
    margin-top: 3px;
}

.services__elem:nth-child(4) img{
    margin-top: -1px;
}

.services__elem:nth-child(5) img{
    margin-top: -1px;
}

.services__elem:nth-child(6) img{
    margin-top: -1px;
}

.services__elem:nth-child(3) img{
    margin-top: 3px;
}

.services__elem h3 {
    font-family: "Lato Black";
    font-size: 18px;
    font-weight: 400;
    color: #666d89;
    margin-top: 35px;
    margin-bottom: -16px;
}

.services__elem p {
    color: #767e9e;
    font-size: 12px;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 5px;
    text-align: justify;
}

.elem-text {
    margin-left: 18px;
}

.pixel-fix-1{
    letter-spacing: 0.1px;
}

.pixel-fix-2{
    word-spacing: -0.9px;;
    letter-spacing: 0.1px;
}

.pixel-fix-3 {
    word-spacing: -1px;
}

.pixel-fix-4 {
    margin-left: -0.8px;
}

.pixel-fix-5 {
    word-spacing: -1px;
    letter-spacing: -0.2px;
    margin-left: -2px;
}
