body {
    margin: 0;
    font-family: 'Lato Regular', sans-serif;
    background-color: #fefefe;
}
h2 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    letter-spacing: 0.1px;
    font-family: 'Lato Black', sans-serif;
}

p {
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-weight: 300;
}

.portfolio {
    height: 864px;
    width: 100%;
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}

.portfolio_content {
    margin: 0 auto;
    width: 1020px;
    padding-top: 42px;
    padding-left: 82px;
}

.portfolio__description {
    padding-top: 3px;
}

.portfolio__description p {
    word-spacing: -2.2px;
}

.portfolio__tags {
    width: 287px;
    margin-top: -7px;
    display: flex;
    justify-content: space-between;
}

.tag {
    border-radius: 5px;
    border: 1px solid #666d89;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-weight: 400;
    padding: 0 6px;
    cursor: pointer;
    word-spacing: -2px;
}

.tag:hover {
    border: 1px solid #dedede;
    color: #dedede;
}

.portfolio__picture-example {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: -1px;
    padding-right: 61px;
}

.picture {
    flex-basis: 25%;
    margin-bottom: 17px;
}

.about-us {
    height: 728px;
    background-color: #f2f2f2;
    width: 100%;
    border-bottom: solid 6px #ffffff;
}

.about-us_content {
    margin: 0 auto;
    width: 1020px;
    padding-top: 40px;
    padding-left: 82px;
}

.about-us__description h2 {
    word-spacing: -2px;
    letter-spacing: -0.1px;
}

.about-us__description p {
    padding-top: 2px;
    letter-spacing: -0.1px;
    word-spacing: -1.7px;
}
.about-us__description {
    padding-top: 3px;
    padding-right: 80px;
}

.about-us__members {
    display: flex;
    justify-content: space-between;
    padding-right: 68px;
    margin-left: -1px;

}

.employee {
    margin-top: 27px;
    flex-basis: 33%;
}

.employee h3{
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
    margin-top: 13px;
}

.employee p {
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    word-spacing: -1px;
    margin-top: -7px;
    letter-spacing: 0.3px;
}

.employee:last-child img{
    margin-left: 1px;
}

.employee:last-child h3{
    letter-spacing: 0.5px;
}

.contacts-link {
    width: 153px;
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}

.ico {
    cursor: pointer;
}

.ico:hover{
    opacity: 0.3;
}
.ico:last-child {
    margin-right: -1px;
}

.employee:last-child .ico-linkedin{
    margin-left: 0.3px;
}

.employee:last-child .ico-facebook{
    margin-left: 0.1px;
}